{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row mt-5 bg-dark p-4">
    <div class="col-md-4 my-2 d-flex align-items-stretch">
        <div class="card align-items-stretch bg-dark border-dark">
            <span class="navbar-brand mb-0 h1" style="color: #d82274; font-family: 'Bangers', cursive;">{{ city.name }},
                {{ city.country }}.</span>
            <img class="cont-img-detail" src="{{ MEDIA_URL }}{{ city.image }}">
            <button type="submit" class="btn"><a href="{% url 'cities_update' city.id %}">Edit</a></button>
            <button type="submit" class="btn"><a href="{% url 'cities_delete' city.id %}">delete</a></button>
        </div>
    </div>

    {% endblock %}