{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row mt-5 bg-dark p-4">
    <div class="col-md-6 mx-auto my-2">
      <div class="card bg-dark border-dark">
        <div class="row no-gutters">
          <div class="col-md-7 d-flex align-items-center">
            <div class="card-body text-center">
                <a href="{{ city.mapsURL }}" target="_blank">
                    <h1 class="card-title" style="color: #d82274; font-family: 'Bangers', cursive;">
                      {{ city.name }}, {{ city.country }}
                    </h1>
                  </a>
                  
            </div>
          </div>
          <div class="col-md-5">
            <img class="card-img" src="{{ MEDIA_URL }}{{ city.image }}" alt="{{ city.name }}">
          </div>
        </div>
        <div class="card-footer d-flex justify-content-center bt-dark border-dark">
          <button type="button" class="btn btn-edit mx-2"><a href="{% url 'cities_update' city.id %}">Edit</a></button>
          <button type="button" class="btn btn-edit mx-2"><a href="{% url 'cities_delete' city.id %}">Delete</a></button>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}
