{% extends 'base.html' %}
{% block content %}
{% load static %}


<h1 class="mt-5" style="color: #d82274; font-family: 'Bangers', cursive;"></h1>>Holidays</h1>

{% for holiday in holidays %}
<div class="col-md-8 my-2 d-flex align-items-stretch">
  <div class="card align-items-stretch bg-dark border-dark">
    <a href="{% url 'holiday_detail' holiday.id %}" style="text-decoration: none; color: inherit;">
      <div class="card-content">
        <span class="navbar-brand mb-0 h1" style="color: #d82274; font-family: 'Bangers', cursive;">
          <div class="card-title">Title: {{ holiday.name | linebreaks }}</div>
          <div class="card-title">I went to: {{ holiday.city | linebreaks }}</div>
          <div class="card-title">I went with: {{ holiday.companions | linebreaks }}</div>
        </span>
      </div>
    </a>
  </div>
</div>
{% endfor %}





{% endblock %}
  