{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
  <div class="col-md-8 my-2 d-flex align-items-stretch">
    <div class="card align-items-stretch bg-dark border-dark">
      <span class="navbar-brand mb-0 h1" style="color: #d82274; font-family: 'Bangers', cursive;">
        <h3>Add a new holiday:</h3>
        <div class="col-md-8 my-2 d-flex align-items-stretch">
          <div class="card align-items-stretch bg-dark border-dark">
            <span class="navbar-brand mb-0 h1" style="color: #d82274; font-family: 'Bangers', cursive;">
              <h3>Add a new holiday:</h3>
            </span>
            <form action="{% url 'add_holiday' %}" method="POST" class="my-form">
              {% csrf_token %}
              {{ holiday_form.as_p }}
              <input type="submit" class="btn" value="Add a holiday">
            </form>
          </div>
        </div>
        
      </span>
    </div>
  </div>
</div>

<div class="row">
  {% for holiday in holidays %}
  <div class="col-md-4 my-2">
    <div class="card align-items-stretch bg-dark border-dark">
      <a href="{% url 'holiday_detail' holiday.id %}" style="text-decoration: none; color: inherit;">
        <div class="card-content">
          <span class="navbar-brand mb-0 h1" style="color: #d82274; font-family: 'Bangers', cursive;">
            <div class="card-title">Title: {{ holiday.name | linebreaks }}</div>
            <div class="card-title">I went to: {{ holiday.city | linebreaks }}</div>
            <div class="card-title">I went with: {{ holiday.companions | linebreaks }}</div>
          </span>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
