{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Holidayyyy</title>
</head>
<body>
<header class="navbar-fixed">
    <div class="navbar">
        <nav>
    {% if user.is_authenticated %}
    <a href="{% url 'holidays' %}"> Holidays | </a>
    <a href="{% url 'landing'%}">Locations | </a>
    <a href="{% url 'events-index' %}"> Events | </a>
    <a href="{% url 'logout' %}">Log Out</a>
    {% else %}
    <a href="{% url 'signup' %}">sign up | </a>
    <a href="{% url 'login' %}">login | </a>
    {% endif %}
</nav>
</div>
</header>
    <main class="container">
    {% block content %}

    {% endblock %}
</main>
<footer class="page-footer">
    <p>Made by Ciaran Kearney</p>
</footer>
</body>
</html>