{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Holidayyyy</title>
</head>
<body>
<div>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm bg-dark">
            <a href="{% url 'home' %}">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Rotating_earth_animated_transparent.gif?20201022124448" alt="rotating earth gif" width="50" height="50">
            </a>            
            <span class ="navbar-brand mb-0 h1" style="color: #D82274;">Holidays, but competitive.</span>

            <div 
            class ="collaps navbar-collapse position-end"
            id ="navbarNav">
                <ul class ="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class ="nav-item active">
                            <a href="{% url 'holidays' %}" class="nav-link active">Holidays</a>
                        </li>
                        <li class ="nav-item active">
                            <a href="{% url 'landing' %}" class="nav-link active">Locations</a>
                        </li>
                        <li class ="nav-item active">
                            <a href="{% url 'events-index' %}" class="nav-link active">Events</a>
                        </li>
                        <li class ="nav-item active">
                            <a href="{% url 'logout' %}" class="nav-link active">Log Out</a>
                        </li>
                    {% else %}
                        <li class ="nav-item active">
                            <a href="{% url 'signup' %}" class="nav-link active">Sign Up</a>
                        </li class ="nav-item active">
                            <a href="{% url 'login' %}" class="nav-link active">Log In</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    
    <main class="container-fluid p-0 bg-dark">
        {% block content %}
        {% endblock %}
    </main>
    <div class="push">
</div>
<footer class="page-footer bg-dark fixed-bottom" style="color: #D82274;">
    <div class="container" >
        <div class="row mt-2">
          <div class="col-md-5">
            <h2>&#8364 exchange rates</h2><h6>updated daily</h6>
            <div class="row">
              {% for currency, rate in rates.items %}
                <div class="col-sm-4">
                  {% if currency == 'USD' %}
                    <p>&#36;{{ rate }}</p>
                  {% elif currency == 'GBP' %}
                    <p>&#163;{{ rate }}</p>
                  {% elif currency == 'JPY' %}
                    <p>&#165;{{ rate }}</p>
                  {% else %}
                    <p>{{ currency }}: {{ rate }}</p>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      
    <div class="container-fluid">
      <div class="row justify-content-end">
        <div class="col-auto" style="color: #D82274;">
          Created by Ciaran Kearney
        </div>
      </div>
    </div>
  </footer>
  
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqV
