{% extends 'base.html' %}
{% block content %}

<h1>Welcome to Competitive Holidaying</h1>

{% if user.is_authenticated %}
<button type="button" class="btn"><a class="link" href="/locations">Locations</a></button>
<button type="button" class="btn"><a class="link" href="/events">Events</a></button>
<button type="button" class="btn"><a class="link" href="/holidays">Holidays</a></button>

{% else %}
<p> You've seen competitive sports. You've heard of competitive tag. There's been countless stereotypes on competitive spelling. Well, lets make holidays competitive.</p>
{% endif %}
{% endblock %}
