{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container">
  <h1>Welcome to Competitive Holidaying</h1>
{% if user.is_authenticated %}

  <div class="row mt-5">
    <div class="col">
      <div>
        <h2>Locations</h2>
        <p>Explore and add new cities to our database.</p>
        <a href="/locations">Go to Locations</a>
      </div>
    </div>
    <div class="col">
      <div>
        <h2>Events</h2>
        <p>Create your own Events to show off.</p>
        <a href="/events">Go to Events</a>
      </div>
    </div>
    <div class="col">
      <div>
        <h2>Holidays</h2>
        <p>Store and track your competitive holidays.</p>
        <a href="/holidays">Go to Holidays</a>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <h4>Euro Exchange rates worldwide</h4>
      <h6>updated daily</h6>
      <ul>
        {% for currency, rate in rates.items %}
        <li>{{ currency }}: {{ rate }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% else %}

  <div>
    <p>You've seen competitive sports. You've heard of competitive tag. There have been countless stereotypes on competitive spelling. Well, let's make holidays competitive.</p>
  </div>
  {% endif %}
</div>
{% endblock %}
