/* body {
  background-color: #2b2b2b;
  color: #D82274;
  color: #12399c;
}

.navbar {
  background-color: #2b2b2b;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  color: #D82274;
  background-color: #D82274;
}

.navbar-brand {
  color: #D82274;
}

.navbar-nav .nav-link {
  color: #D82274;
}

.page-footer {
  background-color: #2b2b2b;
  color: #D82274;
}

h1 {
  margin-top: 80px !important;
  color: #12399c;
} */
