body {
    background-color: #2b2b2b;
    color: #D82274;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .navbar{
      color: #12399c;
  }
  .page-footer{
    color: #12399c;
    padding-top: 0;
    text-align: right;
  }

  .cont-img{
    max-height: 50px;
  }

  .cont-img-detail{
    max-height: 100px;
  }

  .btn{
    text-decoration: none;
    background-color: #D82274;
    color: #12399c;
  }

  .link{
    text-decoration: none;
    color: #12399c;
  }

  .card-content{
    text-decoration: none;
    color: #12399c;
  }