{% extends 'base.html' %}
{% block content %}


<h1> {{ country.name }}</h1>
<img class="cont-img-detail" src="{{MEDIA_URL}}{{ country.image}}">


<h3>Add a new city:</h3>

<form method="POST" action="{% url 'add_city' continent_id country.id  %}">
  {% csrf_token %}
  {{ city_form.as_p }}
  <button type="submit" class="btn btn-primary">Add City</button>
</form>


<h1>Cities visited in {{country.name}} :</h1>
<ul>
  {% for city in country.city_set.all %}
  <a href="{% url 'countries_detail' continent.id country.id %}">
  <td>{{city.name}}</td>
  <img class="cont-img" src="{{MEDIA_URL}}{{ city.image }}">
  </a>

  {% endfor %}
</ul>
</div>


{% endblock %}